<h2>Champions List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let champion of champions">
        <td> {{champion.firstName}}</td>
        <td> {{champion.lastName}}</td>
        <td> {{champion.email}}</td>
      <td>
      <button (click)="updateChampion(champion.id)" class="btn btn-info">
          Update
      </button>
      </td>
    </tr>
  </tbody>
</table>
