<div class="col-md-6 offset-md-3">
  <h3>Create Champion</h3>
  <form [formGroup]="championForm" action="" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Your name..." formControlName="firstName">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Your last name..." formControlName="lastName">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="email" placeholder="Your email..." formControlName="email">
    </div>
    <button class="btn btn-success" type="submit">Invia</button>
  </form>
</div>
